@import 'variables';

// Definir cor de fundo global para todos os elementos
* {
    background-color: $background-home-color;
}

// Layout base
.toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}

body,
.text-login,
.text-btn {
    font-family: 'Montserrat', sans-serif;
}

// Modal
.modal {
    background-color: inherit;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.modal-header {
    background-color: transparent;
}

.modal-header h2,
.modal-header p {
  background-color: inherit;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

// Botões e interações
.btn-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: inherit
}

button {
    padding: 10px 20px;
    background-color: $tertiary-color;
    color: $button-text-color;
    border: 1px solid $text-color;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        background-color: $button-hover-color;
        color: $button-enable-text-color;
        color: $button-text-color;
    }
}