$color-neutral-white: #ffffff;
$color-neutral-black: #000000;
$color-neutral-gray-lightest: #eeeeee;
$color-neutral-gray-light: #e1e1e3;
$color-neutral-gray-dark: #a3a3a3;
$color-neutral-gray-medium: #c4c4c4;

$color-primary-dark: #000048;
$color-primary-light: #4582c4;
$color-background: $color-neutral-white;
$color-accent: #a3a3a3;
$color-neutral-dark: #000000;

$color-hover-dark-primary: #000080;
$color-hover-light-primary: #4191e0;
$color-hover-light-gray: #eaeaec;

$color-alert-error: #d32f2f;
$color-alert-error-hover: #c62828;
$color-alert-success: #388e3c;
$color-alert-success-hover: #2e7d32;
$color-alert-warning: #ffa000;
$color-alert-warning-hover: #ff8f00;
$color-alert-info: #1976d2;
$color-alert-info-hover: #1565c0;

$color-customization-angular-material: #acc8e5;

$color-text-dark: #1e1e1e;

$button-color-text: $color-neutral-white;
$button-color-text-enabled: $color-neutral-black;
$button-color-hover: $color-primary-dark;
$button-color-background: $color-background;

$font-primary: "Inter", sans-serif;
$font-secondary: "Montserrat", sans-serif;

$font-size-large: 24px;
$font-size-medium: 20px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$line-height: 150%;
$gap-default: 10px;
$max-width-large: 796px;
$max-width-medium: 700px;
$border-radius-large: 80px;
$border-radius-medium: 40px;

@mixin responsive-font($size-large, $size-medium) {
  font-size: $size-large;

  @media (max-width: 1366px) {
    font-size: $size-medium;
  }
}
