<div class="profile-container">
    <main class="profile-main">
        <div class="profile-content">
            <h2 class="profile-content-name">{{userName}}</h2>
            <h2 class="profile-content-birthday">Data de Nascimento: {{birthDate}}</h2>
        </div>
        <div class="profile-content-edit">
            <div class="profile-content-edit-social">
                <h2 class="profile-content-edit-social-name">Nome Social: {{userName}}</h2>
                <img src="../../../assets/images/edit-icon.svg" alt="edit" class="profile-content-edit-icon">
            </div>
            <h2 class="profile-content-edit-educationLevel">Nível de Ensino: {{educationLevel}}</h2>
        </div>
    </main>
</div>