<div class="profile-container">
    <main class="profile-main">
        <div class="profile-content">
            <h2 class="profile-content-name">{{userName}}</h2>
            <h2 class="profile-content-birthday">Data de Nascimento:{{''}}</h2>
        </div>
        <div class="profile-content-edit">
            <h2 class="profile-content-edit-social-name">Nome Social: {{userName}}</h2>
            <h2 class="profile-content-edit-educationLevel">Nível de Ensino:{{''}}</h2>
        </div>
    </main>
</div>