<div class="profile">
    <p class="profile__title">Fulano</p>
    
    <div class="profile__info-section">
        <p class="profile__info-title">Qual a sua ocupação?</p>
        <div class="profile__info-box">Estudante ensino de Administração</div>
    </div>
    
    <div class="profile__info-section">
        <p class="profile__info-title">Porque você escolheu esse projeto?</p>
        <div class="profile__info-box">Quero ajudar a melhorar as oportunidades de ensino para todos</div>
    </div>
    
    <div class="profile__info-section">
        <p class="profile__info-title">Em quais disciplinas você pode ser tutor?</p>
        <div class="profile__info-box">Matemática, Geografia, História</div>
    </div>
    
    <button class="profile__edit-button">Editar</button>
</div>