@import "../../../app/styles/theme.scss";

// Bloco: lesson-card-manager
.lesson-card-manager {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 796px;
  background-color: $color-customization-angular-material;
  border-radius: 80px;
  padding: 45px;
  margin: auto auto 20px auto;

  @media (max-width: 1366px) {
    gap: 0px;
    max-width: 700px;
    border-radius: 40px;
    padding: 30px;
  }

  // elemento: info
  &__info {
    display: flex;
    flex-direction: row;
    gap: 10px;

    // elemento: student
    &__student {
      width: 50%;
      font-size: 24px;
      font-weight: 700;
      line-height: 150%;
      margin: auto;
      text-align: left;

      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }

    // elemento: student-reason
    &__student-reason {
      width: 50%;
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;
      margin: auto;
      text-align: left;

      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }
  }

  // elemento: tutor-description
  &__tutor-description {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;

    @media (max-width: 1366px) {
      font-size: 20px;
    }
  }

  // elemento: actions
  &__actions {
    display: flex;
    flex-direction: row;
    gap: 10px;

    // elemento: item
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // elemento: container-title
    &__container-title {
      width: 60%;

      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }

    // elemento: item-title
    &__item-title {
      width: 60%;
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;

      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }

    // elemento: item-schedule
    &__item-schedule {
      display: flex;
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;

      @media (max-width: 1366px) {
        font-size: 20px;
      }
    }

    // elemento: container-buttons
    &__container-buttons {
      width: 40%;
      gap: 10px;
    }
  }
}

// Bloco: error-message
.lesson-card-manager__error-message {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: $color-alert-error;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}
