<div *ngFor="let request of lessonRequests" class="class-card-manager-container">
    <div class="class-card-manager-info">
        <div class="class-card-manager-student-info">
            <p>{{ request.userName || 'Usuário não identificado' }}</p>
            <p>{{ request.educationLevel || 'Nível de ensino não definido' }}</p>
            <p>{{ request.subject || 'Sem matéria definida' }}</p>
        </div>
        <div class="class-card-manager-student-reason">
            <p>{{ request.reasonType || 'Sem motivo especificado' }}</p>
        </div>
    </div>
    <p class="class-card-manager-tutor-description">
        "{{ request.tutorDescription || 'Sem informações adicionais' }}"
    </p>
    <div class="class-card-manager-actions">
        <div class="class-card-manager-actions-item class-card-manager-actions-container-title">
            <p class="class-card-manager-actions-item-title">Horários Disponíveis:</p>
            <ng-container *ngFor="let schedule of request.availableSchedules">
                <p class="class-card-manager-actions-item-schedule">Dia {{ schedule }} horas</p>
            </ng-container>
        </div>
        <div class="class-card-manager-actions-item class-card-manager-actions-container-buttons">
            <app-button [type]="editRequest" [label]="editRequest" (click)="onEditClick(request)"></app-button>
            <app-button [type]="deleteRequest" [label]="deleteRequest"></app-button>
        </div>
    </div>
</div>
<div *ngIf="errorMessage">
    <p class="class-card-manager-error-message">{{ errorMessage }}</p>
</div>
<ng-container *ngIf="showEditForm">
    <app-class-request-form [isOpen]="showEditForm" [editMode]="true" [requestData]="selectedRequest" (closeModal)="onCloseForm($event)">
    </app-class-request-form>
</ng-container>