@import "../../../app/styles/theme.scss";

// Bloco: lesson-card-manager
.lesson-card-manager {
  display: flex;
  flex-direction: column;
  gap: $gap-default;
  background-color: $color-customization-angular-material;
  border-radius: $border-radius-large;
  padding: 45px;
  margin: auto auto 20px auto;

  @media (max-width: 1366px) {
    width: 650px;
    gap: 0px;
    border-radius: $border-radius-medium;
    padding: 30px;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  // elemento: info
  &__info {
    display: flex;
    flex-direction: row;
    gap: $gap-default;

    // elemento: student
    &__student {
      width: 50%;
      @include responsive-font($font-size-large, $font-size-medium);
      font-weight: $font-weight-bold;
      line-height: $line-height;
      margin: auto;
      text-align: left;
    }

    // elemento: student-reason
    &__student-reason {
      width: 50%;
      @include responsive-font($font-size-large, $font-size-medium);
      font-weight: $font-weight-medium;
      line-height: $line-height;
      margin: auto;
      text-align: left;
    }
  }

  // elemento: tutor-description
  &__tutor-description {
    @include responsive-font($font-size-large, $font-size-medium);
    font-weight: $font-weight-medium;
    line-height: $line-height;
  }

  // elemento: actions
  &__actions {
    display: flex;
    flex-direction: row;
    gap: $gap-default;

    // elemento: item
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // elemento: container-title
    &__container-title {
      width: 100%;
      @include responsive-font($font-size-large, $font-size-medium);
    }

    // elemento: item-title
    &__item-title {
      width: 100%;
      @include responsive-font($font-size-medium, $font-weight-medium);
      line-height: $line-height;
    }

    // elemento: item-schedule
    &__item-schedule {
      width: 100%;
      display: flex;
      @include responsive-font($font-size-medium, $font-weight-medium);
      line-height: $line-height;
    }

    // elemento: container-buttons
    &__container-buttons {
      width: 80%;
      gap: $gap-default;
    }
  }
}

// Bloco: error-message
.lesson-card-manager__error-message {
  @include responsive-font($font-size-large, $font-size-medium);
  font-weight: $font-weight-medium;
  line-height: $line-height;
  color: $color-alert-error;
}

// Bloco: empty
.lesson-card-manager__empty {
  @include responsive-font($font-size-large, $font-size-medium);
  font-weight: $font-weight-medium;
  line-height: $line-height;
  margin-top: 180px;
}

// Bloco: tutor-modal
.tutor-modal {
  @extend .modal;

  padding: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 400px;
  }

  &__content__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__header__close-button {
    border: none;
  }

  &__content__body {
    border: 1px solid $color-neutral-black;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &.selected {
      border-color: #007bff; // ou a cor do seu tema
      background-color: rgba(
        0,
        123,
        255,
        0.05
      ); // versão mais clara da cor do tema
    }
  }

  &__content__body__profile {
    width: 140px;
    margin-right: 20px;
  }

  &__content__body__profile-info__name__age {
    padding: 0px !important;
    margin: 0px !important;
  }

  &__content__body__profile-info__expertise {
    padding: 0px !important;
    margin: 0px !important;
  }

  &__content__body__profile-info__reason-schedule__reason,
  &__content__body__profile-info__reason-schedule__schedule {
    padding: 0px !important;
    margin: 0px !important;
  }
}
