@import "../../../app/styles/theme.scss";

.class-card-manager-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 796px;
  background-color: $color-customization-angular-material;
  border-radius: 80px;
  padding: 45px;
  margin: auto auto 20px auto;

  @media (max-width: 1366px) {
    gap: 0px;
    max-width: 700px;
    border-radius: 40px;
    padding: 30px;
  }
}

.class-card-manager-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.class-card-manager-student-info {
  width: 50%;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  margin: auto;
  text-align: left;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-student-reason {
  width: 50%;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin: auto;
  text-align: left;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-tutor-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-actions-item-title {
  width: 60%;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-actions-container-title {
  width: 60%;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-actions-container-buttons {
  width: 40%;
}

.class-card-manager-actions-item-schedule {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}

.class-card-manager-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.class-card-manager-actions-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.class-card-manager-actions-container-buttons {
  gap: 10px;
}

.class-card-manager-error-message {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: $color-alert-error;

  @media (max-width: 1366px) {
    font-size: 20px;
  }
}
