<div class="class-card-manager-container">
    <div class="class-card-manager-info">
        <div class="class-card-manager-student-info">
            <p>Nome do aluno</p>
            <p>Ensino Fundamental</p>
            <p>Disciplina escolhida</p>
        </div>
        <div class="class-card-manager-student-reason">
            <p>Motivo da solicitação</p>
        </div>
    </div>
    <p class="class-card-manager-tutor-description">Texto descritivo para o tutor</p>
    <div class="class-card-manager-actions">
        <div class="class-card-manager-actions-item">
            <p class="class-card-manager-actions-item-title">Horários Disponíveis</p>
            <p class="class-card-manager-actions-item-schedule">Dia dd/mm/aaaa às hh:mm horas</p>
            <p class="class-card-manager-actions-item-schedule">Dia dd/mm/aaaa às hh:mm horas</p>
        </div>
        <div class="class-card-manager-actions-item">
            <button>Editar</button>
            <button>Excluir</button>
        </div>
    </div>
</div>