<ng-container *ngIf="lessonRequests?.length">
    <div *ngFor="let request of lessonRequests" class="lesson-card-manager">
        <div class="lesson-card-manager__info">
            <div class="lesson-card-manager__info__student">
                <p>{{ request.userName || 'Usuário não identificado' }}</p>
                <p>{{ request.educationLevel || 'Nível de ensino não definido' }}</p>
                <p>{{ request.subject || 'Sem matéria definida' }}</p>
            </div>
            <div class="lesson-card-manager__info__student-reason">
                <p>{{ request.reasonType || 'Sem motivo especificado' }}</p>
            </div>
        </div>
        <p class="lesson-card-manager__tutor-description">
            "{{ request.tutorDescription || 'Sem informações adicionais' }}"
        </p>
        <div class="lesson-card-manager__actions">
            <div class="lesson-card-manager__actions__item lesson-card-manager__actions__container-title">
                <p class="lesson-card-manager__actions__item-title">Horários Disponíveis:</p>
                <ng-container *ngFor="let schedule of request.availableSchedules">
                    <p class="lesson-card-manager__actions__item-schedule">Dia {{ schedule }} horas</p>
                </ng-container>
            </div>
            <div class="lesson-card-manager__actions__item lesson-card-manager__actions__container-buttons">
                <app-button [type]="buttonTypes.editRequest" [label]="getButtonLabel(request.status)" (click)="onEditClick(request)">
                </app-button>
                <app-button [type]="buttonTypes.deleteRequest" [label]="buttonTypes.deleteRequest" (click)="onDeleteClick(request.classId)">
                </app-button>
            </div>
        </div>
    </div>
</ng-container>

<app-registration-success-modal [message]="message" (onClose)="closeRegistrationSuccessDialog()" (onConfirmDelete)="handleConfirmDelete()" [showDeleteButtons]="true" [showCloseButton]="false">
</app-registration-success-modal>

<div *ngIf="errorMessage">
    <p class="lesson-card-manager__error-message">{{ errorMessage }}</p>
</div>

<!-- Mostra a mensagem quando não há solicitações -->
<div *ngIf="!lessonRequests?.length" class="lesson-card-manager__empty">
    <p>Você não possui pedidos de aula aguardando voluntários</p>
</div>

<div *ngIf="isLoading" class="loading-spinner">
    Carregando...
</div>

<ng-container *ngIf="showEditForm">
    <app-class-request-form [isOpen]="showEditForm" [editMode]="true" [requestData]="selectedRequest" (closeModal)="onCloseForm($event)">
    </app-class-request-form>
</ng-container>

<!-- Modal do Tutor -->
<div class="tutor-modal" *ngIf="showTutorModal && tutorData">
    <div class="tutor-modal__content">
        <header class="tutor-modal__header">
            <h2>Dados do Voluntário</h2>
            <button class="close-button" (click)="closeTutorModal()">
                <mat-icon>close</mat-icon>
            </button>
        </header>

        <div class="tutor-modal__body">
            <div class="tutor-modal__profile">
                <!-- <img [src]="tutorData.photoUrl || '../../../assets/images/user-icon.png'" alt="Foto do voluntário" class="tutor-modal__profile-photo"> -->
                <div class="tutor-modal__profile-info">
                    <h3>{{ tutorData.username }}</h3>
                    <p>{{ tutorData.birthDate }} anos</p>
                    <p>{{ tutorData.expertise || 'Ocupação não informada' }}</p>
                </div>
            </div>

            <div class="tutor-modal__schedule">
                <h4>Horário escolhido:</h4>
                <p>{{ tutorData.chosenDate }}</p>
            </div>

            <div class="tutor-modal__reason">
                <h4>Por que está no projeto:</h4>
                <p>{{ tutorData.projectReason || 'Motivo não informado' }}</p>
            </div>
        </div>
    </div>
</div>