<header class="header-container">
    <div class="header-content">
        <div class="header-box-image">
            <img class="header-logo" src="../../../assets/images/RB Logo circular.png" alt="Logo Reforça o Bem" (click)="navigateToHome()">
        </div>
        <p class="header-text">Transforme o mundo através da educação</p>
        <nav class="header-nav">
            <button class="header-nav-btn">Saiba mais</button>
            <button class="header-nav-btn" (click)="showModal()">Login</button>
        </nav>
    </div>
</header>
<app-login #modalComponent></app-login>
<app-registration-success-modal #registrationSucessModal [isOpen]="false">
</app-registration-success-modal>