@import "../../../styles.scss";

.header-container {
  max-height: 284px;
}

.header-content {
  display: flex;
  background-color: $dark-blue-color;
}

.header-box-image {
  width: 208px;
  margin: 38px 48px 38px 32px;
}

.header-logo {
  max-width: 100%;
  height: auto;
}

.header-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
  color: $background-color;
  margin: 198px auto 0 0;
}

.header-nav {
  display: flex;
  gap: 42px;
  margin: 36px 72px 0 0;
}

.header-nav-btn {
  width: 144px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: $background-color;
  background-color: $light-blue-color;
  border: none;
  border-radius: 19.2px;
  cursor: pointer;
  &:hover {
    background-color: $hover-light-blue-color;
  }
}

@media (max-width: 1200px) {
  .header-container,
  .header-content {
    height: 200px;
  }

  .header-box-image {
    width: 120px;
  }

  .header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin: auto auto 40px 0;
  }

  .header-nav {
    gap: 36px;
    margin: 30px 60px 0 0;
  }

  .header-nav-btn {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-container,
  .header-content {
    height: 150px;
  }

  .header-box-image {
    width: 110px;
    margin: 25px 32px 25px 32px;
  }

  .header-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin: auto auto 25px 0;
  }

  .header-nav {
    gap: 26px;
    margin: 20px 40px 0 0;
  }

  .header-nav-btn {
    width: 85px;
    height: 32px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .header-container,
  .header-content {
    display: block;
    height: 220px;
  }

  .header-box-image {
    width: 90px;
    margin: auto;
    padding: 20px 0 20px 0;
  }

  .header-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
  }

  .header-nav {
    gap: 26px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .header-nav-btn {
    width: 100px;
    height: 32px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .header-text {
    font-size: 12px;
  }

  .header-nav-btn {
    width: 90px;
    height: 32px;
    font-size: 12px;
  }
}
