<header class="header-container">
    <div class="header-content">
        <div class="header-box-image">
            <img class="header-logo" src="../../../assets/images/RB Logo base.png" alt="logo Ambiente Principal">
        </div>
        <p class="header-text">Olá, {{userName}}!</p>
        <div class="header-user-control">
            <div class="header-user-box-image" (click)="toggleMenu()">
                <img class="header-user-icon" src="../../../assets/images/user-icon.png" alt="User Icon">
            </div>
            <div class="header-user-menu" *ngIf="menuOpen">
                <button class="menu-item perfil" routerLink="/perfil">Perfil</button>
                <button class="menu-item home" routerLink="/home">Sair</button>
            </div>
        </div>
    </div>
</header>
<div class="main-container">
    <app-main-menu [navMenuBtnTitleOne]="scheduledTitle" [navMenuBtnTitleTwo]="tutoringRequestsTitle" [navMenuBtnTitleThree]="pendingStudentConfirmationTitle"></app-main-menu>
    <div class="main-container-button" *ngIf="isStudent()">
        <app-button [label]="buttonTitle" (click)="toggleClassRequestModal()">
        </app-button>
    </div>
</div>
<app-class-request-form *ngIf="showClassRequestModal" (closeModal)="toggleClassRequestModal()">
</app-class-request-form>