<header class="header-container">
    <div class="header-content">
        <div class="header-box-image">
            <img class="header-logo" src="../../../assets/images/RB Logo base.png" alt="logo Ambiente Principal">
        </div>
        <p class="header-text" *ngIf="!showProfile">Olá, {{userName}}!</p>
        <div class="header-box-profile" *ngIf="showProfile">
            <h1 class="header-profile-title">Perfil - Dados Cadastrais</h1>
        </div>
        <div class="header-user-control">
            <div class="header-user-box-image" (click)="toggleMenu()">
                <img class="header-user-icon" src="../../../assets/images/user-icon.png" alt="User Icon">
            </div>
            <div class="header-user-menu" *ngIf="menuOpen">
                <button class="menu-item perfil" (click)="toggleProfile()">Perfil</button>
                <button class="menu-item home" routerLink="/home">Sair</button>
            </div>
        </div>
    </div>
</header>
<div class="main-container">
    <app-main-menu [navMenuBtnTitleBegin]="beginTitle" [navMenuBtnTitleClasses]="buttonTitleClasses" [navMenuBtnTitleOne]="buttonTitleOne" [navMenuBtnTitleTwo]="buttonTitleTwo" [navMenuBtnTitleThree]="buttonTitleThree" [navMenuBtnTitleDisabled]="buttonTitleDisabled" [hideButtonsProfile]="showProfile" [showPersonalDataButton]="showPersonalDataButton()" (beginButtonClick)="handleMenuButtonClick('begin')" (buttonOneClick)="handleMenuButtonClick('first')" (buttonTwoClick)="handleMenuButtonClick('second')" (buttonThreeClick)="handleMenuButtonClick('third')" (personalDataButtonClick)="togglePersonalData()" (securityButtonClick)="toggleSecurity()">
    </app-main-menu>
    <div class="main-container-button" *ngIf="shouldShowRequestButton()">
        <app-button [label]="buttonTitle" (click)="toggleClassRequestModal()">
        </app-button>
    </div>
    <div class="main-container-lesson-card-manager" *ngIf="shouldShowComponent('first') && isStudent()">
        <app-lesson-card-manager [isWaitingConfirmation]="false"></app-lesson-card-manager>
    </div>
    <div class="main-container-lesson-card-manager" *ngIf="shouldShowAcceptedCards()">
        <app-lesson-card-manager [isWaitingConfirmation]="true" [status]="'aceito'"></app-lesson-card-manager>
    </div>
    <div class="main-container-tutor-begin" *ngIf="shouldShowComponent('begin') && isTutor()">
        <app-tutor-begin [hasSubjects]="tutorHasSubjects" (profileClick)="toggleProfile()"></app-tutor-begin>
    </div>
    <div class="main-container-tutor-request" *ngIf="shouldShowComponent('second') && isTutor()">
        <app-tutor-request></app-tutor-request>
    </div>
    <div class="main-container-tutor-waiting" *ngIf="shouldShowComponent('third') && isTutor()">
        <app-tutor-waiting></app-tutor-waiting>
    </div>
    <app-profile *ngIf="showProfile && !showPersonalData && !showSecurity"></app-profile>
    <div class="main-container-tutor-security" *ngIf="showProfile && showSecurity">
        <app-tutor-security></app-tutor-security>
    </div>
    <div class="main-container-tutor-personal-data" *ngIf="isTutor() && showProfile && showPersonalData">
        <app-tutor-personal-data></app-tutor-personal-data>
    </div>
</div>
<app-class-request-form *ngIf="showClassRequestModal" (closeModal)="toggleClassRequestModal()">
</app-class-request-form>