@import "../../../styles.scss";

.header-content {
  display: flex;
}

.header-box-image {
  width: 206px;
  margin: 55px 0 52px 40px;
}

.header-logo,
.header-user-icon {
  max-width: 100%;
  height: auto;
}

.header-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 150%;
  margin: 100px 0 0 100px;
}

.header-user-control {
  margin: 56px 56px 0 auto;
}

.header-user-box-image {
  width: 50px;
  height: 50px;
  margin: 0 25px 0 auto;
  padding: 8px 4px 4px 4px;
  border: 3px solid $light-blue-color;
  border-radius: 3px;
}

.header-user-icon {
  cursor: pointer;
}

.header-user-menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 192px;
  height: 76px;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: $background-color;
  background-color: $light-blue-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: $hover-light-blue-color;
  }
}

.perfil {
  border-radius: 10px 10px 0 0;
}

.home {
  background-color: $background-color;
  color: $black-color;
  border-radius: 0 0 10px 10px;
  &:hover {
    background-color: $hover-gray-color;
  }
}

@media (max-width: 768px) {
  .header-box-image {
    width: 140px;
    margin: 45px 0 45px 40px;
  }

  .header-text {
    font-size: 32px;
    margin: 80px 0 0 60px;
  }

  .header-user-control {
    margin: 56px 46px 0 auto;
  }

  .header-user-box-image {
    width: 45px;
    height: 45px;
  }

  .menu-item {
    width: 150px;
    height: 45px;
    font-size: 20px;
    &:hover {
      background-color: $hover-light-blue-color;
    }
  }

  .perfil {
    border-radius: 10px 10px 0 0;
  }

  .home {
    background-color: $background-color;
    color: $black-color;
    border-radius: 0 0 10px 10px;
    &:hover {
      background-color: $hover-gray-color;
    }
  }
}
