@import "../../../app/styles/theme.scss";

.font-primary {
  font-family: $font-primary;
}

.header-content {
  display: flex;
}

.header-box-image {
  width: 206px;
  margin: 55px 0 52px 40px;

  @media (max-width: 768px) {
    width: 140px;
    margin: 45px 0 45px 40px;
  }
}

.header-logo,
.header-user-icon {
  max-width: 100%;
  height: auto;
}

.header-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 150%;
  margin: 100px 0 0 100px;

  @media (max-width: 768px) {
    font-size: 32px;
    margin: 80px 0 0 60px;
  }
}

.header-box-profile {
  display: flex;
  text-align: center;
  width: 624px;
  height: 58px;
  background-color: $color-customization-angular-material;
  border-radius: 23px;
  margin: auto;

  .header-profile-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-neutral-black;
    margin: auto;
  }
}

.header-user-control {
  margin: 56px 56px 0 auto;

  @media (max-width: 768px) {
    margin: 56px 46px 0 auto;
  }
}

.header-user-box-image {
  width: 50px;
  height: 50px;
  margin: 0 25px 0 auto;
  padding: 8px 4px 4px 4px;
  border: 3px solid $color-primary-light;
  border-radius: 3px;

  @media (max-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.header-user-icon {
  cursor: pointer;

  @media (max-width: 768px) {
  }
}

.header-user-menu {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
  }
}

.menu-item {
  width: 192px;
  height: 76px;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: $color-background;
  background-color: $color-primary-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background-color: $color-hover-light-primary;
  }

  @media (max-width: 768px) {
    width: 150px;
    height: 45px;
    font-size: 20px;
    &:hover {
      background-color: $color-hover-light-primary;
    }
  }
}

.perfil {
  border-radius: 10px 10px 0 0;

  @media (max-width: 768px) {
    border-radius: 10px 10px 0 0;
  }
}

.home {
  background-color: $color-background;
  color: $color-neutral-dark;
  border-radius: 0 0 10px 10px;
  &:hover {
    background-color: $color-hover-light-gray;
  }

  @media (max-width: 768px) {
    background-color: $color-background;
    color: $color-neutral-dark;
    border-radius: 0 0 10px 10px;
    &:hover {
      background-color: $color-hover-light-gray;
    }
  }
}

.main-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 95px;
}

.main-container-button {
  margin: auto auto 0 auto;
}
