@import "../../../app/styles/theme.scss";

.hamburger-icon {
  display: none;

  @media (max-width: 425px) {
    display: block;
    position: fixed;
    top: 140px;
    left: 30px;
    z-index: 1001;
    cursor: pointer;
  }

  @media (max-width: 375px) {
    top: 130px;
  }
}

// Overlay quando o menu estiver aberto
.menu-overlay {
  display: none;
  &.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}

.main-nav-container {
  display: flex;
  flex-direction: column;
  width: 192px;
  margin-left: 40px;

  @media (max-width: 1366px) {
    width: 140px;
    margin-left: 20px;
  }

  // Menu mobile, esconde o menu
  @media (max-width: 425px) {
    position: fixed;
    left: -192px;
    height: 100vh;
    transition: left 0.3s ease;
    z-index: 1000;
    margin-left: 0;

    &.open {
      left: 30px; // mostra o menu
    }
  }
}

.main-nav-box {
  width: 192px;
  min-height: 76px;

  @media (max-width: 1366px) {
    min-height: 50px;
    width: 140px;
  }
}

.main-nav-btn-primary {
  font-size: 24px;
  font-weight: 500;
  color: $color-background;
  width: 192px;
  min-height: 76px;
  cursor: pointer;
  background: $color-primary-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  &:hover {
    background: $color-hover-light-primary;
  }

  @media (max-width: 1366px) {
    min-height: 50px;
    width: 140px;
    font-size: 16px;
  }
}

.main-nav-btn-secondary {
  font-size: 24px;
  font-weight: 700;
  color: $color-background;
  width: 192px;
  min-height: 76px;
  background: $color-primary-dark;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &:hover {
    background: $color-hover-dark-primary;
  }

  @media (max-width: 1366px) {
    min-height: 50px;
    width: 140px;
    font-size: 16px;
  }
}

.main-nav-btn-tertiary {
  width: 192px;
  min-height: 76px;
  padding: 5px;
  margin-top: -5px;
  background: $color-neutral-gray-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  &:hover {
    background: $color-hover-light-gray;
  }

  @media (max-width: 1366px) {
    min-height: 50px;
    width: 140px;
    font-size: 16px;
  }
}

.main-nav-btn-tertiary-click {
  font-size: 24px;
  font-weight: 500;
  color: $color-neutral-dark;
  width: 192px;
  min-height: 76px;
  padding: 15px;
  background: $color-neutral-gray-light;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    background: $color-hover-light-gray;
  }

  @media (max-width: 1366px) {
    min-height: 50px;
    width: 140px;
    font-size: 16px;
  }
}

.last {
  border-radius: 0 0 10px 10px;
}
