<div class="hamburger-icon" (click)="toggleMenu()" *ngIf="isMobile">
    <mat-icon>menu</mat-icon>
</div>

<div class="menu-overlay" [class.active]="isMenuOpen" (click)="closeMenu()"></div>

<nav class="main-nav-container" [class.open]="isMenuOpen">
    <div class="main-nav-box">
        <button class="main-nav-btn-primary" routerLink="/main" (click)="onBeginClick()">{{navMenuBtnTitleBegin}}</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-secondary" [ngClass]="{'main-nav-btn-secondary-profile': hideButtonsProfile}">{{navMenuBtnTitleClasses}}</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary-click" (click)="onButtonOneClick()" [ngClass]="{'main-nav-btn-tertiary-click-profile': hideButtonsProfile}">{{navMenuBtnTitleOne}}</button>
    </div>
    <div class="main-nav-box" *ngIf="showPersonalDataButton">
        <button class="main-nav-btn-tertiary-click personal-data" (click)="onPersonalDataClick()">{{navMenuBtnTitlePersonalData || 'Dados Pessoais'}}</button>
    </div>
    <div class="main-nav-box">
        <button *ngIf="!hideButtonsProfile" class="main-nav-btn-tertiary-click" (click)="onButtonTwoClick()">{{navMenuBtnTitleTwo}}</button>
    </div>
    <div class="main-nav-box">
        <button *ngIf="!hideButtonsProfile" class="main-nav-btn-tertiary-click" (click)="onButtonThreeClick()">{{navMenuBtnTitleThree}}</button>
    </div>
    <div class="main-nav-box">
        <button *ngIf="!hideButtonsProfile" class="main-nav-btn-secondary" disabled>{{navMenuBtnTitleDisabled}}</button>
    </div>
    <div class="main-nav-box">
        <button *ngIf="!hideButtonsProfile" class="main-nav-btn-tertiary last" disabled>{{navMenuBtnTitleDisabled}}</button>
    </div>
</nav>