<nav class="main-nav-container">
    <div class="main-nav-box">
        <button class="main-nav-btn-primary">Inicio</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-secondary" disabled>Aulas</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary-click">{{navMenuBtnTitleOne}}</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary-click">{{navMenuBtnTitleTwo}}</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary-click">{{navMenuBtnTitleThree}}</button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-secondary" disabled></button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary" disabled></button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary" disabled></button>
    </div>
    <div class="main-nav-box">
        <button class="main-nav-btn-tertiary last" disabled></button>
    </div>
</nav>